*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.topnav{
    background-color: rgb(137, 241, 215);
    
    text-align: center;
    padding: 30px;
    font-size: 37px;
 
    
  
}
li a{
color: rgb(103, 99, 119);
}
.topnav a:hover{
    background-color: rgb(218, 224, 181);

}
.elem li{
    display: inline;
    color: rgb(206, 121, 18);
    padding: 5%;
    
}
.main2{
    margin-top: 30%;
    height: 500px;
    width: 100%;
}
.main2 img{
margin: 2%;
height: 90%;
width: 28%;
}

.main-3{
    background-color: black;
    height: 500px;
  background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
   
 
}
.main-3sub{
    color: bisque;
    width: 30%;
    display: inline-block;
 
}


.main-3 img{
width: 40%;
height: 90%;
display: inline-block;
margin: 1%;
position: relative;
left: 200px;
top: 150px;
}
